*inmemory*
*__pycache__
*.pyc
.DS_Store
.vscode

data
exp
tmp
debug
src_bak

src/mockturtle/build
src/mockturtle/build-*
src/mockturtle/.vscode/
src/mockturtle/**/*~
src/mockturtle/**/.DS_Store
src/mockturtle/docs/_build
src/mockturtle/docs/doxyxml


src/kissat/build
*.o
*.a
makefile
src/kissat/build.h
src/kissat/kissat
src/kissat/tissat
*.gcno
*.gcda
*.gcov
src/kissat/gmon.out